.container{
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
}

.item1{
    background-color: red;
    grid-row: 1fr 1fr 1fr;   /*Starts at row line 1   and ends before row line 3*/
    grid-column: 1 / 5;   /*starts at column 1 and ends before column line 5*/
}

.item2{
    background-color: blanchedalmond;
    grid-row: 2;
    grid-column: 2;
}

.item3{
    background-color:blueviolet;
}